

* {
    font-family: 'Raleway', sans-serif;
    display: inline-grid;
    box-sizing: border-box;
    width: 100%;
    margin-left: 0px;
}

nav {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hamburger{ 
    display: none;
}

a {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #44545E;
    font-weight: 600;
    width: 15em;
    transition: all .5s ease-in-out
}

nav a:hover {
    border: 2px solid #44545E;

}

header {
    color: white;
    text-align: center;
    background-image: url('home_header_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    clear: both;
}

h1 {
    margin-top: 45vh;
    margin-bottom: 40vh;
    letter-spacing: .7em;
    font-weight: 600;
}

h2 {
    font-size: 24px;
}

header > h2 {
    margin-top: -40vh;
    letter-spacing: .05em;
    text-align: center;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

article {
    font-size: 10px;
    text-align: center;
    clear: both;

}

.archive-container {
    display: inline-grid;
    margin-left: -.5em;
    margin-right: -2em;
    grid-column-gap: 1em;
    clear: both;
    height: 80vh;
    margin-bottom: 20vh;
    
}


h3 {
    font-size: 18px;
    text-align: center;

}

.archive-head {
    grid-column-start: 3;
    grid-column-end: 9;
    text-align: center;
    margin-left: 5vw;
}

.article {
    line-height: 10.618em;
}


.left {
    grid-column-start: 2;
    grid-column-end: 5;
    clear: both;
    height:100vh;
}

.left img {
    height: 60vh;
}



.middle {
    grid-column-start: 5;
    grid-column-end: 8;
    clear: both;
}

.right {
    grid-column-start: 8;
    grid-column-end: 11;
    clear: both;
}
.article1 {
    height:50vh;
}

.article1 > img {
    height: 50vh;
}

.article2 {
    height: 60vh;
}
.article2 > img {
    size: cover;
}

.article3 {
    margin-top: 0px;
    height: 60vh;
}
.about h3 {
    font-size: 12px;
}
.about {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    background-color: #CDF3F6;
}

.about p {
    margin-left: 25%;
    width: 50%;
}
.picture1 {
    margin-top: -6.7em;
    transition: all .5s ease-in-out;
}

.picture2 {
    margin-top: -20em;
    transition: all .5s ease-in-out;
}

.picture3 {

    margin-bottom: 20px;
    transition: all .5s ease-in-out;
}

.picture4 {
    transition: all .5s ease-in-out;

}

.picture5 {
    transition: all .5s ease-in-out;

}

.picture6 {
    transition: all .5s ease-in-out;    
    margin-top: -8.5em;
}

.picture1:hover {
    opacity: 0.5;  
}
.picture2:hover {
    opacity: 0.5;  
}

.picture3:hover {
    opacity: 0.5;  
}

.picture4:hover {
    opacity: 0.5;  
}

.picture5:hover {
    opacity: 0.5;  
}

.picture6:hover {
    opacity: 0.5;  
}


img {
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5em;
    margin-bottom: 4em;


}

.column {
    flex: 33%;
    max-width: 25%;
    padding: 0px auto;
    margin-left: 5em;

}

.column-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: -4.8em;
    margin-left: 11.5em;
    margin-right: -25px;
}

.column-2 {
    margin-top: 1px;

}

.column-3 {
    margin-left: 20px;
    margin-top: 1px;
}

.intouch {
    text-align: center;
    font-weight: 600;
}

.getintouch {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-left: 10%;
    width: 80%;
}

.getintouchtop {
    display: flex;
    justify-content: space-between;
}

.getintouch input {
    font-weight: 600;
    margin-top: .5em;
    border: .2em solid black;
    width: 30em;
    padding: .5em;
}
.getintouch textarea {
    font-weight: 600;
    padding: .5em;
    margin-top: .5em;
    border: .2em solid black;
    height: 15em;
}

.getintouch input[type="submit"] {
    width: 100%;
    background-color: white;
    color: #44545E;
    padding: .5em;
    margin-bottom: 2em;
}
footer {
    background-color: #CDF3F6;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    height: 40vh;
    justify-content: space-around;
}

.footerform {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 33%;
}
footer input[type="email"] {
    width: 22.5em;
    border: none;
    text-align: center;
    font-weight: 600;
}

footer input[type="submit"] {
    text-align: center;
    font-weight: 600;
    height: 2.5em;
    width: 12.5em;
    justify-content: center;
    margin-left: 0em;
    border: black .2em solid;
    background-color: #CDF3F6;
    transition: all .5s ease-in-out;
}

footer input[type="submit"]:hover{
    background-color: #44545E;
    border: none;
    color: #CDF3F6;
}

.copyright {
    margin-top: 6em;
    width: 100%;
    border-top: #44545E 2px solid;
    text-align: center;
    padding-top: 1em;
}

.readmore {
    margin-top: 20px;
    width: 10vw;
    margin-bottom: 80px;
    text-align:center;
    border: 1.5px solid black;
    background-color: white;
    margin-left:10vw;
    transition: all .5s ease-in-out;
}

.readmore:hover {
    background-color: #44545E;
    color: white; 
}

.social {
    clear:both;
    margin-top: 2em;
    margin-left: 25em;
    margin-bottom: 2em;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    clear:both;
    width: 8em;
}
li a{
    color:#44545E;
    font-weight: 600;
    font-size: 32px;
}

/* MEDIA QUERY FOR MEDIUM SCREENS */
@media screen and (max-width: 950px) {
    body {
        width: 100%;
        margin-left: 7.5em;
    }

    header {
        margin-top: -1em;
        margin-left: -7.8em;
        width:137%;
    }

    header img {
        width: 100%;
        margin-right: 0em;
    }
    

    h1 {
        margin-top:7.5em;
        font-size: 64px;
    }

    h2 {

        font-size: 48px;
    }

    h3 {

        font-size: 36px;
    }

    p {

        font-size: 32px;
    }

    .archive-container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        margin-left: 2em;
    }

    nav {

        display: none;
    }
    
    .hamburger {
        display: none;
    }



    .archive-head{

        padding-top: 2em;
        padding-right: 2em;
        font-size: 42px;
    }

    .left {

        flex: 100%;
        max-width: 100%;
    }

    .left img {

        margin-top: 20px;
        padding-left: 3.5em;
        margin-left: 9.5em;
        width: 42.5em;
        height: 50%;
    }

    .left h3 {


        margin-top: 2em;
    }

    .left article {

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-right: -5em;
    }

    .middle img {

        width: 40em;
        margin-top: 15em;
        margin-left: 13.5em;

    }

    .right img {

        width: 40em;
        margin-left: 13.5em;
    }

    .article1 {

        margin-left: 4em;
        width: 75em;
    }
    article {
        text-align: center;
    }

    .readmore {
        font-size: 1.5em;
        margin-top: 20px;
        margin-left: 7.25em;
        font-weight: 600;
        width: 75vw;
        margin-bottom: 80px;
        text-align:center;
        border: 2px solid black;
        background-color: white;


    }
    .about {
        margin-left:-6.8em;
        width: 137%;
    }

    .about h2 {
        font-size: 48px;
    }
    .about h3 {
        font-size: 44px;
        word-wrap: wrap;
    }

    .middle {
        margin-top: -50px;
        flex: 100%;
        max-width: 100%;
    }
    .right {
        flex: 100%;
        max-width: 100%;
        margin-bottom: 5vh;
    }

    .issue {
        margin-left: 2em;
    }

    .row {
        display: flex;
        flex-flow: column;
        width: 75%;
    }

    .column {
        display: flex;
        flex-flow: column wrap;
        
    
    }

    .intouch {
        margin-left: 2em;
    }
    .getintouch {
        display: flex;
        flex-direction: column;
        margin-left: 11.5em;
    }
    
    .getintouchtop {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        margin-left: 8.5em;
    }

    .getintouchtop input {
        width: 50em;
        margin-left: -8.75em;
    }

    textarea {
        width: 50em;
        margin-left: 1.5em;
    }

    .getintouch input[type="submit"] {
        width: 50em;
        margin-left: 1.5em;
    }
    
    article {
        font-size: 18px;
    }

    footer input{   
        margin-bottom: .5em;
    }

    .copyright {
        margin-top: 1em;
        text-align: center;
        border-top: 2px gray solid;
    }

    .picture1 {
        margin-left: -9em;
        width: 200%;
        margin-top: 10em;
    }
    
    .picture2 {
        width: 200%;
        margin-top: 1em;
        margin-left: -9em;
    }
    
    .picture3 {
        width: 200%;
        margin-top: 1em;
        margin-left: -2.5em;
    }
    
    .picture4 {
        width: 200%;
        margin-left: 20em;
        margin-top: -75.25em;
    }
    
    .picture5 {
        width: 200%;
        margin-left: 23.905em;
        margin-top: -16.6em;
    
    }
    
    .picture6 {
        width: 200%;
        margin-left: 23.905em;
        margin-top: 1em; 
    }
    li {
        transform: translate(-15.5em)
    }

    footer input[type="email"] {
        width: 25em;
        height: 3em;
    }
    footer input[type="submit"] {
        width: 25em;
        height: 3em;
    }

    .footerform {
        display: flex;
        flex-direction: column;
    }

/* ----------------------------------MEDIA QUERY PHONE-------------------------------- */

@media screen and (max-width: 600px) {
    body {
        width: 100%;
        margin-left: 7.5em;
    }

    header {
        margin-top: -1em;
        margin-left: -7.8em;
        width:137%;
    }

    header img {
        width: 100%;
        margin-right: 0em;
    }
    

    h1 {

        font-size: 64px;
    }

    h2 {

        font-size: 48px;
    }

    h3 {

        font-size: 36px;
    }

    p {

        font-size: 32px;
    }

    .archive-container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        margin-left: 2em;
    }

    nav {

        display: none;
    }

    .hamburger {
        display: inline-block;
        color: white;
        margin-bottom: 15em;
    }


    .archive-head{

        padding-top: 2em;
        padding-right: 2em;
        font-size: 42px;
    }

    .left {

        flex: 100%;
        max-width: 100%;
    }

    .left img {

        margin-top: 20px;
        padding-left: 3.5em;
        width: 42.5em;
        height: 50%;
    }

    .left h3 {


        margin-top: 2em;
    }

    .left article {

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .middle img {

        width: 40em;
        margin-top: 15em;
        margin-left: 7.5em;

    }

    .right img {

        width: 40em;
        margin-left: 7.5em;
    }

    .article1 {

        margin-left: 4em;
        width: 75em;
    }
    article {
        text-align: center;
    }

    .readmore {
        font-size: 1.5em;
        margin-top: 20px;
        margin-left: 11.25em;
        font-weight: 600;
        width: 75vw;
        margin-bottom: 80px;
        text-align:center;
        border: 2px solid black;
        background-color: white;


    }
    .about {
        margin-left:-6.8em;
        width: 137%;
    }

    .about h2 {
        font-size: 48px;
    }
    .about h3 {
        font-size: 44px;
        word-wrap: wrap;
    }

    .middle {
        margin-top: -50px;
        flex: 100%;
        max-width: 100%;
    }
    .right {
        flex: 100%;
        max-width: 100%;
        margin-bottom: 5vh;
    }

    .issue {
        margin-left: 2em;
    }

    .row {
        display: flex;
        flex-flow: column;
        width: 75%;
    }

    .column {
        display: flex;
        flex-flow: column wrap;
        
    
    }
    .getintouch {
        display: flex;
        flex-direction: column;
        margin-left: 7.5em;
    }
    
    .getintouchtop {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        margin-left: 8.5em;
    }

    .getintouchtop input {
        width: 50em;
        margin-left: -8.75em;
    }

    textarea {
        width: 50em;
        margin-left: 1.5em;
    }

    .getintouch input[type="submit"] {
        width: 50em;
        margin-left: 1.5em;
    }
    
    article {
        font-size: 18px;
    }

    footer input{   
        margin-bottom: .5em;
    }

    .copyright {
        margin-top: 1em;
        text-align: center;
        border-top: 2px gray solid;
    }

    .picture1 {
        margin-left: -9em;
        width: 200%;
        margin-top: 10em;
    }
    
    .picture2 {
        width: 200%;
        margin-top: 1em;
        margin-left: -9em;
    }
    
    .picture3 {
        width: 200%;
        margin-top: 1em;
        margin-left: -2.5em;
    }
    
    .picture4 {
        width: 200%;
        margin-left: 18em;
        margin-top: -68.25em;
    }
    
    .picture5 {
        width: 200%;
        margin-left: 21.905em;
        margin-top: -14.6em;
    
    }
    
    .picture6 {
        width: 200%;
        margin-left: 21.905em;
        margin-top: 1em; 
    }
    li {
        transform: translate(-18.5em)
    }

    footer input[type="email"] {
        width: 25em;
        height: 3em;
    }
    footer input[type="submit"] {
        width: 25em;
        height: 3em;
    }

    .footerform {
        display: flex;
        flex-direction: column;
    }
}
